body {
    /*background-color: #E5E5E5;*/
    background-image: url("../static/img/background.jpg");
    font-family: "serif","sans-serif","cursive","fantasy","monospace";
}
/*************************/
/***css for whole-page****/
/*************************/
#whole-page {
    width: 70%;
    height: 90%;
    margin: 3% auto;
    background-color: #272727;
    border-radius: 20px;
}

/*************************/
/*******user profile******/
/*************************/
#heading-group {
    width: 100%;
    height: 5%;
    background-color: #3f83df;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#heading-logo {
    width: 60%;
    height: 5%;
    margin-left:20%;
    font-size:1.5em;
    font-weight:bold;
    text-align: center;
}
#heading-myself {
    width: 12%;
    height: 5%;
    font-size: 1em;
    margin-left: 86%;
    margin-top: 0.8%;
    text-align: right;
}


/*************************/
/*css for chat-room-group*/
/*************************/
#chat-room-group {
    width: 24%;
    height: 95%;
    float: left;
    background-color: #f8f8f8;
    border-bottom-left-radius: 20px;
    border-right: 1px solid #eeeeee;
}
#room-category {
    width: 100%;
    height: 6%;
    font-size: 1em;
}
#room-list {
    width: 100%;
    height:88%;
    font-size: 0.9em;
}
.pre-scrollable {
    width: 100%;
    margin-left: 0;
}
.list-group {
    width: 100%;
    margin-left: 0;
}
.list-group-item {
    width: 100%;
}
#create-room {
    width: 100%;
    height: 7%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 20px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

/************************/
/*css for chat-interface*/
/************************/
#chat-interface {
    width: 52%;
    height: 95%;
    float: left;
    background-color: white;
}
            
#chat-interface-title {
    width: 100%;
    height: 7%;
    background-color: white;
    border-bottom: 1px solid #A4A4A4;
    text-align: center;
    font-size: 1em;
    padding-top: 3%;
}

/***chat textarea***/
#chat-interface-textarea {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #E1E1E1;
    background-color: #F3F3F3;
}
#message-content {
    font-size: 0.9em;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 3px;
}
#message-content li {
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
}
#message-content li img{
    width: 25px;
    height: 25px;
}
#message-content li span{
    padding: 5px;
    border-radius: 5px;
    margin: 0px 5px 0 5px;
    max-width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
}
#message-content li img.imgleft {
    float: left;
}
#message-content li img.imgright {
    float: right;
}
#message-content li span.spanleft {
    float: left;
    background: #eaeaea;
}
#message-content li span.spanright {
    float: right;
    background: #f0ffff;
}
/***chat input***/
#chat-interface-input {
    width: 100%;
    height: 12%;
    background-color: white;
    text-align: center;
}
#user-input-textarea {
    width: 86%;
    height: 95%;
    margin-top: 1%;
    color: #777777;
    resize: none;
    border: none;
    outline: none;
}
#send-btn {
    margin-top: -11%;
}

/**************************/
/*css for user-information*/
/**************************/
#room-user-group {
    width: 24%;
    height: 95%;
    float: right;
    background-color: #f8f8f8;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #eeeeee;
}
#user-list {
    width: 100%;
    height:92%;
    font-size: 0.9em;
}

            
/***Message***/
#group-message {
    width: 100%;
    height: 32%;
    background-color: #F0F0F0;
}