/*To Change background color of popover*/
.popover {
    width: 20em;
    background: #eeeeee;
    border: 1px solid #eeeeee;
}
            
/*Change the arrow color*/
.popover.right .arrow:after {
    border-right-color: #404649;
}

/*Change the arrow color*/
.popover.bottom .arrow:after {
    border-right-color: #404649;
}

/*Change popover title*/    
.popover-title {
    padding: 0;
    border: none;
    background: #3f83df;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

/*Chat room details*/           
.chat-room-details ul {
    list-style: none;
}
            
.chat-room-details span {
    color: black;
    display: inline-block;
    font-size: 1em;
    margin-top: 0.5em;
    letter-spacing: 0.1em;                
}
            
.chat-room-details img {
    width: 1.1em;
    height: 1.1em;
    padding: 0;
    vertical-align:middle;
    margin-right: 0.5em;
}
            
.chat-room-details input {
    float: right;
    margin-bottom: 0.5em;
}